<div class="overlay-container" data-action="click->overlay#remove_overlay" id="item_<%= item.id%>">
  <div class="overlay container" data-action="click->overlay#prevent">
    <div class="cross container" data-action="click->overlay#remove_overlay">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
    <div class="title container">
      <h4>Details du produit</h4>
    </div>
    <div class="infos">
      <div class="overlay-image container">
        <% if !item.photo.key.nil? %>
          <%= cl_image_tag item.photo.key, crop: :fill, alt: "shoe", class: "product-image-items"%>
        <% else %>
          <div class="product-image-placeholder"></div>
        <% end %>
      </div>
      <div class="main-infos">
        <p>
          <strong><%= item.brand %></strong><br>
          <%= item.model %>
        </p>
        <p>
          Taille <%= item.size %><br><br>
          <strong><%= item.price %>€</strong>
        </p>
      </div>
    </div>
      <div class="complementary-infos container">
      <p>couleur(s) : <%= item.color %></p>
      <p>référence : <%= item.reference %></p>
      <div class="quantity-selector">
      <%= button_to "-", destroy_item_in_stock_path(item), method: :delete, class: "quantity-btn minus" %>
          <span class="quantity-value">Quantité : <%= item.same_in_stock.count %></span>
      <%= button_to "+", duplicate_item_path(item), method: :post, class: "quantity-btn minus" %>
    </div>
      </div>
  </div>
</div>
