<div class="orders-page-container">
  <header class="orders-header">
    <h1 class="orders-title">Toutes les commandes</h1>
  </header>

  <section class="orders-section">
    <h2 class="orders-section-title">Nouvelles commandes</h2>
  <% @orders.where(status: "pending").each do |o|  %>
    <div class="order-card">
      <div class="order-info">
        <%= image_tag 'nike-air-max.png', alt: 'Nike Air Max', class: 'order-shoe-image' %>
        <div class="order-details">
          <div class="order-product-name"><%= link_to "#{o.cart.user.last_name} #{o.cart.user.first_name}", o %></div>
          <div class="order-date"><%= link_to "#{o.ordered_on}", o %></div>
        </div>
      </div>
      <div class="order-actions">
        <div class="order-buttons-wrapper">
        <%= button_to "Accepter", order_path(order), data: {turbo_method: :patch}, method: :patch, class: "order-accept-button" %>
          <button class="order-decline-button">Refuser</button>
        </div>
      </div>
    </div>
  <% end %>
  </section>

  <section class="orders-section">
    <h2 class="orders-section-title">Commandes en cours</h2>
  <% @orders.where(status: "Validée").each do |o|  %>
    <div class="order-card">
      <div class="order-info">
        <%= image_tag 'nike-air-max.png', alt: 'Nike Air Max', class: 'order-shoe-image' %>
        <div class="order-details">
          <div class="order-product-name"><%= link_to "#{o.cart.user.last_name} #{o.cart.user.first_name}", o %></div>
          <div class="order-date"><%= link_to "#{o.ordered_on}", o %></div>
        </div>
      </div>
      <div class="order-actions">
        <button class="order-view-details-button">Voir detail</button>
      </div>
    </div>
  <% end %>
  </section>

  <section class="orders-section">
    <h2 class="orders-section-title">Commandes passées</h2>
    <div class="order-card">
      <div class="order-info">
        <%= image_tag 'nike-air-max.png', alt: 'Nike Air Max', class: 'order-shoe-image' %>
        <div class="order-details">
          <div class="order-product-name">Airmax</div>
          <div class="order-date">21 Août 2024</div>
        </div>
      </div>
      <div class="order-actions">
        <button class="order-view-details-button">Voir detail</button>
      </div>
    </div>

    <div class="order-card">
      <div class="order-info">
        <%= image_tag 'nike-air-max.png', alt: 'Nike Air Max', class: 'order-shoe-image' %>
        <div class="order-details">
          <div class="order-product-name">Airmax</div>
          <div class="order-date">21 Août 2024</div>
        </div>
      </div>
      <div class="order-actions">
        <button class="order-view-details-button">Voir detail</button>
      </div>
    </div>
  </section>
</div>
<%= render 'pages/footer' %>
