<div class="container-page-index">
  <header class="header-pages">
    <div class="top-bar">
      <% if !@user.nil? %>
        <% if @user.companies.count > 0 %>
          <div class="left-link">
            <%= link_to dashboard_path, class: 'pro-space-link' do %>
              <span class="pro-space"><p>Espace Pro</p></span>
            <% end %>

          </div>
        <% else %>
          <div class="left-link">
            <span class="pro-space"><p>Espace Pro</p></span>
          </div>
        <% end %>
        <div class="right-link">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'logout-link' do %>
            <i class="fa-solid fa-arrow-right-from-bracket logout-link" style="color: #000000;"></i>
          <% end %>
        </div>
      <% else %>
        <div class="left-link">
          <span class="pro-space"><p>Espace Pro</p></span>
        </div>
      <% end %>
    </div>
    <div class="logo-container">
      <div class="logo">
        <%= image_tag "logo.png" %>
      </div>
    </div>
    <div class="search-bar">
      <%= simple_form_for :search, url: items_path, method: :get, html: { class: "d-flex" } do |f| %>
        <%= f.input :query,
          input_html: {
              class: "search-model",
              placeholder: "Quoi ?"
          }, label: false %>
        <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
          label: false
        %>
        <%= button_tag type: 'submit' do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
    <h2 class="tagline">Des <span>sneakers</span> locales, un impact global</h2>
    <div class="swiper" data-controller="swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="https://images.pexels.com/photos/786003/pexels-photo-786003.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Les nouveautés"></div>
          <div class="swiper-slide"><img src="https://images.pexels.com/photos/1025996/pexels-photo-1025996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="La Rentrée"></div>
          <div class="swiper-slide"><img src="https://images.unsplash.com/photo-1599654766593-d43341df51cb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNuZWFrZXIlMjBjaGlsZHJlbnxlbnwwfDB8MHx8fDA%3D" alt="Child"></div>
          <div class="swiper-slide"><img src="https://images.pexels.com/photos/9015359/pexels-photo-9015359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Child"></div>
        </div>
        <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </header>

  <main data-controller="tabs">
    <div class="category-tabs">
      <button class="tab-page-index active" data-target="homme" data-tabs-target="tab" data-action="click->tabs#switchTab">Homme</button>
      <button class="tab-page-index" data-target="femme" data-tabs-target="tab" data-action="click->tabs#switchTab">Femme</button>
      <button class="tab-page-index" data-target="enfant" data-tabs-target="tab" data-action="click->tabs#switchTab">Enfant</button>
    </div>

    <div id="homme" class="card-section-page-index active" data-tabs-target="section">
      <div class="card-page-index">
        <img src="https://img.freepik.com/free-photo/white-sneakers-closeup-men-s-apparel-summer-fashion-beach-photoshoot_53876-101216.jpg?ga=GA1.1.1043838493.1723553977&semt=ais_hybrid" alt="Les nouveautés">
        <p>Équipe toi pour la rentrée</p>
      </div>
      <div class="card-page-index">
        <img src="https://img.freepik.com/free-photo/man-runner-tying-lace-shoes-sport-training-road_23-2148123967.jpg?ga=GA1.1.1043838493.1723553977&semt=ais_hybrid" alt="Modèles inspirants">
        <p>Tout pour le sport</p>
      </div>
    </div>

    <div id="femme" class="card-section-page-index" data-tabs-target="section">
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1699594165148-0eb85ec79666?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGZhc2hpb24lMjBzbmVha2Vyc3xlbnwwfDB8MHx8fDA%3D" alt="La Rentrée">
        <p>Les nouveautés tendances</p>
      </div>
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1539185441755-769473a23570?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGZhc2hpb24lMjBzbmVha2Vyc3xlbnwwfDB8MHx8fDA%3D" alt="La tendence de ce été">
        <p>Sport & style</p>
      </div>
    </div>

    <div id="enfant" class="card-section-page-index" data-tabs-target="section">
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1599654766593-d43341df51cb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNuZWFrZXIlMjBjaGlsZHJlbnxlbnwwfDB8MHx8fDA%3D" alt="Child">
        <p>Retour à l'école</p>
      </div>
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1659614404055-670edff49a1b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c25lYWtlciUyMHlvdW5nJTIwYWR1bHR8ZW58MHwwfDB8fHww" alt="young adults">
        <p>Mini-tendances</p>
      </div>
    </div>
  </main>
  <%= render 'footer' %>
</div>
