<div class="container-page-index">
  <header class="header-pages">
    <div class="top-bar">
      <% if !@user.nil? %>
        <% if @user.companies.count > 0 %>
          <!-- Lien vers le dashboard si je suis un commerçant avec une boutique ou plus -->
          <%= link_to dashboard_path do %>
            <span class="pro-space"><p>Espace Pro</p></span>
          <% end %>
        <% else %>
          <!-- A faire : Lien vers un formulaire si je suis un client qui veut ajouter sa boutique -->
          <span class="pro-space"><p>Espace Pro</p></span>
        <% end %>
        <%= link_to 'Se déconnecter', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'logout-link' %>
      <% else %>
        <span class="pro-space"><p>Espace Pro</p></span>
      <% end %>
    </div>
    <div class="logo-container">
      <div class="logo">
        <%= image_tag "logo.png" %>
      </div>
    </div>
    <div class="search-bar">
      <%= simple_form_for :search, url: items_path, method: :get, html: { class: "d-flex" } do |f| %>
        <%= f.input :query,
          input_html: {
              class: "search-model",
              placeholder: "Quoi ?"
          }, label: false %>
        <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
          label: false
        %>
        <%= button_tag type: 'submit' do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
    <h2 class="tagline">Des <span>sneakers</span> locales, un impact global</h2>
    <img src="https://img.freepik.com/free-photo/handsome-men-beautiful-woman-outside-sun_23-2148803616.jpg?ga=GA1.1.1043838493.1723553977" alt="background-img" class="banner-img">
  </header>

  <main>
    <div class="category-tabs">
      <button class="tab-page-index active" data-target="homme">Homme</button>
      <button class="tab-page-index" data-target="femme">Femme</button>
      <button class="tab-page-index" data-target="enfant">Enfant</button>
    </div>

    <div id="homme" class="card-section-page-index">
      <div class="card-page-index">
        <img src="https://img.freepik.com/free-photo/white-sneakers-closeup-men-s-apparel-summer-fashion-beach-photoshoot_53876-101216.jpg?ga=GA1.1.1043838493.1723553977&semt=ais_hybrid" alt="Les nouveautés">
        <p>Les nouveautés</p>
      </div>
      <div class="card-page-index">
        <img src="https://img.freepik.com/free-photo/man-runner-tying-lace-shoes-sport-training-road_23-2148123967.jpg?ga=GA1.1.1043838493.1723553977&semt=ais_hybrid" alt="Modèles inspirants">
        <p>Modèles inspirants</p>
      </div>
    </div>

    <div id="femme" class="card-section-page-index">
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1699594165148-0eb85ec79666?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGZhc2hpb24lMjBzbmVha2Vyc3xlbnwwfDB8MHx8fDA%3D" alt="La Rentrée">
        <p>La Rentrée</p>
      </div>
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1539185441755-769473a23570?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGZhc2hpb24lMjBzbmVha2Vyc3xlbnwwfDB8MHx8fDA%3D" alt="La tendence de ce été">
        <p>La tendance de ce été</p>
      </div>
    </div>

    <div id="enfant" class="card-section-page-index">
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1599654766593-d43341df51cb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHNuZWFrZXIlMjBjaGlsZHJlbnxlbnwwfDB8MHx8fDA%3D" alt="Child">
        <p>Collection Enfant</p>
      </div>
      <div class="card-page-index">
        <img src="https://images.unsplash.com/photo-1659614404055-670edff49a1b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c25lYWtlciUyMHlvdW5nJTIwYWR1bHR8ZW58MHwwfDB8fHww" alt="young adults">
        <p>Les plus cools</p>
      </div>
    </div>
  </main>
  <%= render 'footer' %>
  <script src="switch-tabs.js"></script>
</div>
