<div class="cart-page-container">
  <header class="cart-header">
    <%= render 'shared/arrow_back' %>
    <div class="cart-title-container">
      <div class="cart-title">Mon panier</div>
      <% if @nb_items_orders == 0 %>
      <% else %>
        <div class="cart-items-count">
          <%= @nb_items_orders %> <%= @nb_items_orders == 1 ? 'produit' : 'produits' %>
        </div>
      <% end %>
    </div>
  </header>

  <% if @nb_items_orders == 0 %>
    <div class="empty-cart-message">
      <p>Whoa! Ton panier est vide!</p>
      <img src="https://images.ctfassets.net/denf86kkcx7r/6v8JuiDs8jjTt3vQZXFA1D/11a3bb6cc29731619e57a61c68a42e6d/chienseultriste-72?fm=webp&w=913" alt="Chien triste" />
    </div>
  <% end %>

  <% @orders.each do |order| %>
    <% grouped_items = order.items.group_by { |item| item.model && item.size } %>
    <% if grouped_items.any? %>
      <div class="company-section">
        <div class="company-name"><%= order.company.name %></div>

        <% grouped_items.each do |i, items| %>
          <% item = items.first %>
          <div class="cart-items">
            <div class="cart-item-card">
              <div class="cart-item">
                <% if !item.photo.key.nil? %>
                  <%= cl_image_tag item.photo.key, crop: :fill, transformation: [
                          { effect: "make_transparent", color: "white", tolerance: 100 },
                          { effect: "trim", color: "white", tolerance: 0 }
                        ], alt: "shoe", class: "product-image-item-carts-show" %>
                <% else %>
                  <img src="" class="product-image-item">
                <% end %>
                <div class="cart-item-details">
                  <div class="cart-item-title"><%= item.brand %> <%= item.model %></div>
                  <div class="cart-item-price">Taille : <%= item.size %></div>
                  <div class="cart-item-price"><%= item.price %>€</div>
                  <div class="cart-item-quantity">
                    <%= button_to "-", item_order_item_path(order, item), class:"cart-quantity-button", method: :delete %>
                    <span><%= items.count %></span>
                    <%= button_to "+", item_order_items_path(item), class:"cart-quantity-button" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @nb_items_orders > 0 %> <!-- Only show this section if there are items in the cart -->
    <div class="cart-total">
      <span>Total</span>
      <span><%= @total_price %> €</span>
    </div>

    <%= form_with(model: @cart, method: :patch) do |f| %>
      <%= button_tag(type: "submit", name: "", class:"cart-checkout-button") do %>
        Valider
      <% end %>
    <% end %>
  <% end %>
</div>
<%= render 'pages/footer' %>
