<div class="search-results-page">
  <div class="search-results">
    <div class="header-items">
      <%= link_to 'javascript:history.back()', class: 'cart-back-button' do %>
        <i class="fa-solid fa-arrow-left back-button"></i>
      <% end %>
      <%= render "pages/search_bar" %>
    </div>

    <div class="result-info">
      <p class="results-count">
        <strong><%= @items.size %></strong>
        <% if @items.size == 0 %>
          article trouvé
        <% elsif @items.size == 1 %>
          article trouvé
        <% else %>
          articles trouvés
        <% end %>
      </p>
    </div>

    <div class="products-grid">
      <% @items.each do |item| %>
    <div class="product-card">
      <%= link_to item_path(item, address: params[:search][:address]) do %>
        <i class="fa-regular fa-heart save-icon"></i>
        <% if !item.photo.key.nil? %>
          <%= cl_image_tag item.photo.key, crop: :fill, alt: "shoe", class: "product-image-items" %>
        <% else %>
          <div class="product-image-placeholder-items-index"></div>
        <% end %>
        <p class="product-name"><%= item.brand %> <%= item.model %></p>
        <p class="product-name"><%= item.company.name %></p>
      <% end %>
      <div class="price-and-button">
        <p class="product-price"><%= item.price %>€</p>
        <%= button_to "Ajouter", item_order_items_path(item), class:"ajouter" %>
      </div>
    </div>
  <% end %>
    </div>
  </div>
  <% unless current_user.nil? %>
    <%= render "shared/button_cart" %>
  <% end %>
</div>
<%= render 'pages/footer' %>
