<div class="search-results-page">
  <div class="search-results">
    <div class="header-items">
      <button class="back-button-search-result"><i class="fa-solid fa-arrow-left"></i></button>
      <%= render "pages/search_bar" %>
      <div class="options">
        <i class="fa-solid fa-qrcode"></i>
        <i class="fa-solid fa-sliders"></i>
      </div>
    </div>

    <div class="result-info">
      <p class="results-count"><strong><%= @items.size %></strong> articles trouvés</p>
      <p class="sort-option">Trié par: recommander</p>
    </div>

    <div class="products-grid">
      <% @items.each do |item| %>
        <div class="product-card">
          <%= link_to item do %>
            <i class="fa-regular fa-heart save-icon"></i>
            <%= image_tag 'nike-air-max.png', alt: 'nike-air-max', class: 'product-image' %>
            <p class="product-name"><%= item.brand %> <%= item.model %></p>
            <div class="price-and-button">
              <p class="product-price"><%= item.price %>€</p>
              <button class="ajouter">Ajouter</button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'pages/footer' %>
