<div class="search-results-page">
  <div class="search-results">
    <div class="header-items">
      <%= link_to 'javascript:history.back()', class: 'cart-back-button' do %>
        <i class="fa-solid fa-arrow-left back-button"></i>
      <% end %>
      <%= render "pages/search_bar" %>
      <div class="options">
        <i class="fa-solid fa-sliders"></i>
      </div>
    </div>

    <div class="result-info">
      <p class="results-count"><strong><%= @items.size %></strong> articles trouvés</p>
      <p class="sort-option">Trié par: recommander</p>
    </div>

    <div class="products-grid">
      <% @items.each do |item| %>
    <div class="product-card">
      <%= link_to item do %>
        <i class="fa-regular fa-heart save-icon"></i>
        <% if !item.photo.key.nil? %>
          <%= cl_image_tag item.photo.key, crop: :fill, alt: "shoe", class: "product-image-items" %>
        <% else %>
          <div class="product-image-placeholder-items-index"></div>
        <% end %>
        <p class="product-name"><%= item.brand %> <%= item.model %></p>
      <% end %>
      <div class="price-and-button">
        <p class="product-price"><%= item.price %>€</p>
        <%= button_to "Ajouter", item_order_items_path(item), class:"ajouter" %>
      </div>
    </div>
  <% end %>
    </div>
  </div>
  <button id="round-button-client">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6-client">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
</svg></button>
</div>
<%= render 'pages/footer' %>
