<div class="container-item">
  <main>
    <div class="product-details-container">
      <div class="product-header-items-show">
        <%= render 'shared/arrow_back' %>
        <div class="product-title-items"><h2><%= @item.brand %> <%= @item.model %></h2></div>
      </div>

      <div class="product-image-container">
        <% if !@item.photo.key.nil? %>
          <%= cl_image_tag @item.photo.key, crop: :fill, transformation: [
                  { effect: "make_transparent", color: "white", tolerance: 100 },
                  { effect: "trim", color: "white", tolerance: 0 }
                ], alt: "shoe", class: "product-image-item" %>
        <% else %>
          <div class="product-image-placeholder-items-show"></div>
        <% end %>
      </div>

      <div data-controller="size-selector">
  <div class="size-selector-container">
    <div class="size-options">
      <span data-size-selector-target="size" id="38" class="size-option">38</span>
      <span data-size-selector-target="size" id="39" class="size-option">39</span>
      <span data-size-selector-target="size" id="40" class="size-option">40</span>
      <span data-size-selector-target="size" id="41" class="size-option">41</span>
      <span data-size-selector-target="size" id="42" class="size-option active">42</span>
      <span data-size-selector-target="size" id="43" class="size-option">43</span>
      <span data-size-selector-target="size" id="44" class="size-option">44</span>
      <span data-size-selector-target="size" id="45" class="size-option">45</span>
    </div>
    <input type="range" min="38" max="45" value="42" class="slider" data-action="size-selector#updateSize">
  </div>
</div>

      <div class="product-info-items">
        <div class="product-details">
          <h3>Détails du produit</h3>
          <div class="details-grid">
            <div class="detail-label">Référence</div>
            <% if !@item.reference.nil? %>
              <div class="detail-value"><%= @item.reference %></div>
            <% else %>
              <div class="detail-value">Non précisé</div>
            <% end %>
            <div class="detail-label">Couleur</div>
            <div class="detail-value"><%= @item.color %></div>

            <div class="detail-label">Prix</div>
            <div class="detail-value"><%= @item.price.round(2) %>€</div>

            <div class="detail-label">Date de sortie</div>
            <div class="detail-value"><%= @item.released_on.year %></div>
          </div>
          <div data-controller="read-more">
            <p class="product-description" data-read-more-target="description" style="display: none;">
              <%= @item.brand %> <%= @item.model %> <%= @item.color %>
            </p>
            <a href="#" class="read-more-link" data-action="click->read-more#toggleDescription" data-read-more-target="link">
              En savoir plus
            </a>
          </div>
        </div>
      </div>
      <div class="button-container">
        <%= button_to "Ajouter au panier", item_order_items_path(@item), class:"add-to-cart-button" %>
      </div>
    </div>
  </main>
<button id="round-button-client">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6-client">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
</svg></button>
</div>
<%= render 'pages/footer' %>
