<div class="container-item">
  <main>
    <div class="product-details-container">
      <div class="product-header">
        <%= render 'shared/arrow_back' %>
        <div class="product-title-items"><h2><%= @item.brand %> <%= @item.model %></h2></div>
      </div>

      <div class="product-image-container">
        <% if !@item.photo.key.nil? %>
          <%= cl_image_tag @item.photo.key, format: "png", crop: :fill, transformation: [
                  { effect: "make_transparent", color: "white", tolerance: 100 },
                  { effect: "trim", color: "white", tolerance: 0 }
                ], alt: "shoe", class: "product-image-item" %>
        <% else %>
          <div class="product-image-placeholder-items-show"></div>
        <% end %>
      </div>

      <div class="size-selector">
        <button class="size-option">38</button>
        <button class="size-option">39</button>
        <button class="size-option">40</button>
        <button class="size-option">41</button>
        <button class="size-option active">42</button>
        <button class="size-option">43</button>
      </div>

      <div class="product-info-items">
        <div class="product-details">
          <h3>Détails du produit</h3>
          <div class="details-grid">
            <div class="detail-label">Référence</div>
            <% if !@item.reference.nil? %>
              <div class="detail-value"><%= @item.reference %></div>
            <% else %>
              <div class="detail-value">Non précisé</div>
            <% end %>
            <div class="detail-label">Couleur</div>
            <div class="detail-value"><%= @item.color %></div>

            <div class="detail-label">Prix</div>
            <div class="detail-value"><%= @item.price.round(2) %>€</div>

            <div class="detail-label">Date de sortie</div>
            <% if !@item.released_on.nil? %>
              <div class="detail-value"><%= @item.released_on.year %></div>
            <% else %>
              <div class="detail-value">Non précisé</div>
            <% end %>
          </div>
          <div data-controller="read-more">
            <p class="product-description" data-read-more-target="description" style="display: none;">
              <%= @item.brand %> <%= @item.model %> <%= @item.color %>
            </p>
            <a href="#" class="read-more-link" data-action="click->read-more#toggleDescription" data-read-more-target="link">
              En savoir plus
            </a>
          </div>
        </div>
      </div>
      <div class="button-container">
        <%= button_to "Ajouter au panier", item_order_items_path(@item), class:"add-to-cart-button" %>
      </div>
    </div>
  </main>
</div>
<%= render 'pages/footer' %>
